# File: requirements.txt

Flask
pandas               # CSV/Excel reading and analyizng
python-dotenv
openpyxl             # For Excel files
Werkzeug             # For password hashing
Flask-Login          # For user sessions 